
<h2>Your Photos</h2>

<div *ngIf="!selectedPhoto" class="photos">
  <div class="photo" *ngFor="let photo of photos" (click)="onSelect(photo)" 
    style="background-image: url({{photo.data}})"
    [class.selected]="photo === selectedPhoto">
    <!-- <div>
      <h3 class="location">{{photo.location}}</h3>
    </div> -->
  </div>

  <app-upload-panel (newPhotoAdded)="addPhoto($event)"></app-upload-panel>

</div>

<app-photo-info (deleteRequest)="deletePhoto($event)"(escapeRequest)="returnFromPhoto($event)" [inputPhoto]="selectedPhoto"></app-photo-info>

