<h2>Your Photos</h2>

<div *ngIf="!selectedPhoto" class="photos">
  <div class="photo" *ngFor="let photo of photos" (click)="onSelect(photo)" 
    style="background-image: url({{photo.path}})"
    [class.selected]="photo === selectedPhoto">
    <div>
      <h3 class="location">{{photo.location}}</h3>
    </div>
  </div>
</div>


<div class="enlarged-photo" *ngIf="selectedPhoto">

  <img class="selected-photo" src={{selectedPhoto.path}}>

  <div class="photo-info">
    <div class="photo-info-header">
      <h2>{{selectedPhoto.location}}</h2>
      <h3>{{selectedPhoto.dateUploaded}}</h3>
      <div *ngIf="canEdit">
        <input id="location" [(ngModel)]="selectedPhoto.location" placeholder="location">
        <input id="dateUploaded" [(ngModel)]="selectedPhoto.dateUploaded" placeholder="dateUploaded">
      </div>
      
    </div>
    <div class="photo-info-footer">
      <button (click)="returnFromPhoto(selectedPhoto)">To Gallery</button>
      <button *ngIf="canEdit" (click)="toggleEdit()">Save</button>
      <button *ngIf="!canEdit" (click)="toggleEdit()">Edit</button>
      <button (click)="returnFromPhoto(selectedPhoto)">Delete</button>
    </div>
  </div>



</div>