
<div class="container">

  <form>
    <label for="name">Username</label>
    <input id="name" name="name" type="text" [formControl]="username"> 
    <label for="password">Password</label>
    <input id="passowrd" name="password" type="text" [formControl]="password">
    <div>
      <button *ngIf="isLoggingIn" type="submit" (click)="login()">login</button>
      <p class="question" *ngIf="isLoggingIn" (click)="toggleSignup()">dont have an account yet?</p>
    </div>
    <div>
      <button *ngIf="!isLoggingIn"  (click)="signup()" type="submit">signup</button>
      <p class="question" *ngIf="!isLoggingIn" (click)="toggleLogin()">already have an account?</p>
    </div>
    <p *ngIf="response" class="error">{{response.msg}}</p>
  </form>
    
</div>
