input{
  display: block;
  width: 30vw;
  margin:1vw;
  padding:2%;
  border-radius: 1vh;
}


button{
  position:relative;
  bottom: 0;
  left:50%;
  transform: translate(-50%);
}
.question{
  text-align: center;
  color: white;
  transition: color 0.3s ease-in-out;
}
.question:hover{
  cursor: pointer;
  color: grey;
}

.container{
  width:100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.error{
  text-align: center;
  color: rgb(255, 181, 152);
}