div{
  color: white;
  background-color: #404258;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logout{
  text-align: center;
  color: white;
  transition: color 0.3s ease-in-out;
}
.logout:hover{
  cursor: pointer;
  color: grey;
}