<div *ngIf="inputPhoto" class="enlarged-photo">

  <img class="selected-photo" src={{inputPhoto.data}}>

  <div class="photo-info">
    <div class="photo-info-header">
      <h2>{{inputPhoto.location}}</h2>
      <h3>{{inputPhoto.dateTaken}}</h3>
      <div *ngIf="canEdit">
        <input id="location" [(ngModel)]="inputPhoto.location" placeholder="location">
        <input id="dateTaken" [(ngModel)]="inputPhoto.dateTaken" placeholder="dateTaken">
      </div>
      
    </div>
    <div class="photo-info-footer">
      <button (click)="returnFromPhoto(inputPhoto)">To Gallery</button>
      <button *ngIf="canEdit" (click)="toggleEdit()">Save</button>
      <button *ngIf="!canEdit" (click)="toggleEdit()">Edit</button>
      <button (click)="returnFromPhoto(inputPhoto)">Delete</button>
    </div>
  </div>



</div>